.saveSpread {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	height: 100%;
}

.saveSpread form {
	height: 70%;
	text-align: center;
	color: white;

	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saveSpread form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: block;
	width: 100%;
	max-width: 340px;
	min-height: 50px;
	margin: 5px 0px;
	padding: 0px 40px 0px 10px;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	
	background-color: #ffffff;
	background-image: none;

	border-radius: 10px 0 0 10px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px 0px 1px 1px;

	box-shadow: 0 0 8px #888888;
	-ms-word-break: normal;
	word-break: normal;

	overflow-y: hidden;

	
}

.selectIcon {
	height: 50px;
	background-color: white;
	box-shadow: 2px 0 8px #888888;
	
	border-radius: 0 10px 10px 0;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px 1px 1px 0px;

	display:flex;
	align-items: flex-start;
	justify-content: center;
	padding: 0 5px;

	margin: 5px 0;
	
}

.selectIcon img {
	margin-top: 12px;
}

.customSelect {

	display: flex;
	align-items: flex-start;
	justify-content: center;

	

	margin-bottom: 15px;
}

.saveBtn {
	width: 120px;
	height: 50px;
	border-radius: 10px;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
}


option:hover {
	background-color: #D3C05C;
}
option:checked {
	background-color: purple;
}


@media only screen and (max-width: 810px) {
	.selectIcon {
		top: 26%;
		left: 64%;
	}
}