@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Permanent+Marker&family=Rubik&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

.up-arrow {
	width: 0;
	height: 0;
	border-left: 20% solid transparent;
	border-right: 1rem solid transparent;

	border-bottom: 1rem solid var(--foreground);

	margin: .5rem;
}