@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

* {
	box-sizing: border-box;
}

body,
html,
#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	background: url("starbackground.jpg");
}

@media (min-width: 810px){
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2.75em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.25em;
	}
}

.default-border-radius {
	border-radius: 25px;
}

.icon-50px {
	width: 50px;
	height: 50px;
}